.no-display{
    display: none;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 25%;
}

.form-label{
    display: inline-block;
    width: 150px;
}

.form-control{
    margin-bottom: 10px;
}

.validator{
    display: block;
    margin-left: 117px;
}

#pnlErrors{
    color: red;
    margin-bottom: 10px;
}

.dll 
{
            border:0px solid #7d6754;
            color:#888584;
            border-radius:5px;
            padding:3px;
            -webkit-appearance: none; 
            background-image:url(/Image/arrow.png);
            background-size:20px 20px;
            background-position:180px;
            background-repeat:no-repeat;
            text-indent: 0.01px;/*In Firefox*/
            text-overflow: clip;/*In Firefox*/
            width:200px;
            height:45px;
            font-size:18px;
            
            font-family:Arial;
}
