.kanboard {
    border-collapse: collapse;
    table-layout:fixed;
    width: 100%;
    min-height: 200px;
}
.draggable-placeholder {
    border: 2px dashed #000;
    background: #fafafa;
    height: 73px;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left: auto ;
    margin-right: auto ;
    width:95%;
}
.kanboard, .kanboard th, .kanboard td {
    border: 1px solid black;
}
.kanboard th{
    text-align: left;
    background:#f0f0f0;  
    padding:5px;
}
.kanboard td{
      
}
.task{
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid orange;
    background:lightyellow;
    padding: 5px;
    font-size: 95%;
    width: 92%;
}
.label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}
.control{
    width: 60%;
}
.save-task{
    float:right;
}
.task_body *{
    vertical-align: top;
}

.task_header 
{
    font-weight:bold;
    border-bottom: 1px solid orange;
    padding-bottom: 5px;
}
.task_body{
    padding-top: 5px;
    padding-bottom: 5px;
}
.task_footer
{
    overflow: auto;
    padding-top: 5px;
    border-top:1px solid orange;   
}
.information_footer
{
    text-align:right;
}
.task_title 
{
    
}
.assigned_person
{
    font-style:italic;
    float:right;
}