.kanboard {
    border-collapse: collapse;
    table-layout:fixed;
    width: 100%;
    min-height: 200px;
}
.draggable-placeholder {
    border: 2px dashed #000;
    background: #fafafa;
    height: 73px;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left: auto ;
    margin-right: auto ;
    width:95%;
    background: grey;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {background-color: white;}
}

/* Standard syntax */
@keyframes mymove {
    50% {background-color: white;}
}
.kanboard, .kanboard th, .kanboard td {
    border: 1px solid white;
    color:#1e1e1e;
}
.kanboard th{
    text-align: left;
    background:#1D2951;  
    padding:5px;
    height:32px;
    color:lightgrey;

}
.kanboard td{
      
}
.task{
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid #fff;
    background:rgba(29, 41, 81, 0.22);
    
    padding: 5px;
    font-size: 95%;
    height: 65px;
    width: 92%;
}

.task_header 
{
    font-weight:bold;
    border-bottom: 1px solid #929090;
    height:22px;
}
.task_footer
{
    height:22px;
    border-top:1px solid #929090;   
}
.information_footer
{
    float:right;
}
.task_title 
{
    
}
.task_complextity
{
    
    float:right;
}
a:link
{
    text-decoration:none;
    color:grey;
}
.task_body
{
    height:22px;
}
.hlBoard:link 
{
    background-image:url(/Image/panel/board.jpg);
    height:45px;
    width:106px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlBoard:hover
{
    background-image:url(/Image/panel/boardhover.jpg);
    height:45px;
    width:106px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlAnalytics:link 
{
    background-image:url(/Image/panel/Analytics.jpg);
    height:45px;
    width:150px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlAnalytics:hover
{
    background-image:url(/Image/panel/Analyticshover.jpg);
    height:45px;
    width:150px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlProjectEdit:link 
{
    background-image:url(/Image/panel/Edit.jpg);
    height:45px;
    width:102px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlProjectEdit:hover
{
    background-image:url(/Image/panel/Edithover.jpg);
    height:45px;
    width:102px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlLogout:link 
{
    background-image:url(/Image/panel/Logout.jpg);
    height:45px;
    width:101px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlLogout:hover
{
    background-image:url(/Image/panel/Logouthover.jpg);
    height:45px;
    width:101px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlProjectManagement:link 
{
    background-image:url(/Image/panel/management.jpg);
    height:45px;
    width:150px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
.hlProjectManagement:hover
{
    background-image:url(/Image/panel/managementhover.jpg);
    height:45px;
    width:150px;
    display:block;
    margin: 0 auto;
    text-indent: -9999px;
}
